


.frame {
padding-top: 20px;
padding-bottom: 20px;
position: relative;
padding-right: 80px;
float: right;   

}

.title {
    font-size: 125%;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 5px;
    cursor: pointer;
  
}

img.image1:hover {
    transform: scale(1.10);
  }

.minutes {
    font-size: 100%;
    text-align: left;
    float: left;
    margin-top: 0px;
}

.rate {
    font-size: 100%;
    text-align: right;
    float: right;
    margin-top: 0px;
    
}


.checked {
    color: #F4C243;
    padding-left: 5px;
}
