.image2 {
    width: 736.23px;
    height: 440px;
    margin-right: 20px;
    cursor: pointer;
    flex-direction: row;
    float: left;
    position: relative;
    border-radius: 10px 10px 10px 10px;
}

.frame2 {
    margin-top: 32.5px;

}


.title2 {
    margin-top: 8px;
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    padding-top: 7px ;
    
}

.spacer2 {
margin-right: 32px;

}

.status {
    display: flex;
}

.titleColor {
    color:#FFFFFF99;

}

.directors {
    padding-top: 20px;
    
}

.writer {
    padding-top: 10px;
}
.member {
    margin-bottom: 3%;
}

.guestImage {
    width: 148px;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid cornsilk;

}
.guestContent {
    float: left;
    text-align: center;
    margin-right: 50px;
    border: 2px solid cornsilk;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    box-shadow: 5px 10px cornsilk;
    color:cornsilk;
    position: inherit;
    display: block
    
}

.fullCast {

    position: relative;
    cursor: pointer;
    align-items: center;
}