.App {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #1D2027;
  color: white;
  font-family: Helvetica;
  margin: 0;
padding-bottom: 2%;
  position: relative;
  height: 100%;
  
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}


.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: left;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 2.4vw;
  }
}